{% extends "wisapp/base.html" %}


{% block title %}Add a Scientist{% endblock %}
{% block content %}
<header>
</header>
  <div id="app">
    <nav>
      <a href="#" class="brand-logo show-on-large center" >WOMEN IN SCIENCE</a>
      <div class="reload">
          <a v-on:click="getScientist()"><i class="material-icons">refresh</i></a>
      </div>
    </nav>
    <div class="add">
      <h1>Add A Scientist</h1>
      <form method="post">
        {% csrf_token %}
        <input type="text" name="sci_name" placeholder="Scientist's Name"/>
        <input type="text" name="sci_field" placeholder="Scientist's Field"/>
        <textarea class="materialize-textarea" name="sci_bio" placeholder="Short Bio"></textarea>
        <textarea name="sci_big_stuff" class="materialize-textarea" placeholder="Single Accomplishment"></textarea>
        <input type="url" name="sci_link" placeholder="Scientist's Link">
        <input type="file" name="sci_image" value="">
        <br>
        <br>
        <button class="btn">Add A Scientist</button>
      </form>
    </div>
  </div>
{% endblock %}
