{% extends "wisapp.base.html" %}

{% block title %}{{ scientist.sci_name }}{% endblock %}

{% block content %}

<div id="app">
  <html>
    <body>
      <h3>scientist</h3>
      <div class="columns medium-4">
        <div class="card">
          <div class="card-section">
            <p>stuff</p>
          </div>
          <div class="card-divider">
            <p> [[ name ]] </p>

          </div>
        </div>
      </div>
    </body>
  </html>
</div>

<script type="text/javascript">
  let app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
      scientist: {
        name: '',
        image: '',
        link: '',
      },
    },
    methods: {
      getAll: function() {
        axios({
          url: '{% url 'wisapp:get_all' %}',
          method: 'get'
        }).then(response => {
          // this.items = response.data.items
          console.log(response.data)
          this.scientist = response.data
        })
      }
    },
    created: function() {
      this.getAll()
    }
  })
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems, {});
    });
  </script>

{% endblock %}
