{% extends "wisapp/base.html" %}

{% block title %}{{ scientist.sci_name }}{% endblock %}
{% block content %}
  <div id="app">
    <html>
      <body>
        <nav>
          <div class="nav-wrapper">
            <a href="#" class="brand-logo">RIBAT FATIMA</a>
            <ul id="slide-out" class="sidenav">
              <li><a onclick="window.location.reload()">Get Another Scientist</a></li>
              <li><a href v-bind:href="scientist.link">More About
                 [[scientist.sci_name]]</a></li>
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large right">More Options</a>
          </div>
        </nav>
        <div class="name_and_field">
          <div class="name">
            [[scientist.sci_name]]
          </div>
          <div class="field">
            [[scientist.sci_field]]
          </div>
        </div>
        <main>
          <div class="big_stuff">[[scientist.sci_big_stuff]]</div>
          <div class="image">
            <img v-bind:src="scientist.image" width="400px"/>
        </main>
        <div class="bio">
          [[scientist.sci_bio]]
        </div>
      </body>
    </html>
    </div>




<script type="text/javascript">
  let app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
      scientist: {
        sci_name: '',
        field: '',
        bio: '',
        big_stuff: '',
        image: '',
        link: '',
      },
    },
    methods: {
      getScientist: function() {
        axios({
          url: '{% url 'wisapp:get_scientist' %}',
          method: 'get'
        }).then(response => {
          // this.items = response.data.items
          console.log(response.data)
          this.scientist = response.data
          console.log(this.scientist)
        })
      }
    },
    created: function() {
      this.getScientist()
    }
  })
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems, {});
    });
</script>

{% endblock %}
