{% extends "wisapp/base.html" %}


{% block title %}{{ scientist.sci_name }}{% endblock %}
{% block content %}
  <div id="app">
    <html>
      <body>
        <nav>
          <a href=""><div class="name">
            [[scientist.name]]
          </div></a><div class=nav-logo></div>
        </nav>
        <main>
          <div class="field">[[scientist.sci_field]]</div>
          <div class="big_stuff">[[scientist.big_stuff]]</div>
          <div class="image">
            <img v-bind:src="scientist.image"/>
        </main>
        <div class="bio">
          [[scientist.bio]]
        </div>
      </body>
    </html>




<script type="text/javascript">
  let app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
      scientist: {
        name: '',
        field: '',
        bio: '',
        big_stuff: '',
        image: '',
        link: '',
      },
    },
    methods: {
      getScientist: function() {
        axios({
          url: '{% url 'wisapp:get_a_scientist' %}',
          method: 'get'
        }).then(response => {
          // this.items = response.data.items
          console.log(response.data)
          this.scientist = response.data
        })
      }
    },
    created: function() {
      this.getScientist()
    }
  })
</script>

{% endblock %}
